<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Player</a></li>
</ol>

<br/>
<%- partial ('partials/statusmessage.ejs') %>

<form action="#" method="">
  <div class="form-group">
    <label for="id">SELECT A PLAYER TO UPDATE</label><br/>
    <select id="id" name="id">
    <% if(typeof players != "undefined" && players.length > 0){ %>
      <% players.forEach(function(player){ %>
        <option value="<%= player.id %>">
          <%= player.firstName + " " +  player.lastName %>
        </option>
      <% }) %>
    <% } %>
    </select>
  </div>
</form>

<h2>Update Player</h2>
<form action="/update" method="POST" class="form-horizontal" id="updatePlayerForm">
  <input type="hidden" name="id" id="id" value="">
  <div class="form-group">
    <label for="firstName" class="col-sm-2 control-label">First Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required>
    </div>
  </div>
  <div class="form-group">
    <label for="lastName" class="col-sm-2 control-label">Last Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="lastName" name="lastName"  placeholder="Last Name" required>
    </div>
  </div>
  <div class="form-group">
    <label for="number" class="col-sm-2 control-label">Number</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="number" name="number" placeholder="Number (##)" required>
    </div>
  </div>
  <div class="form-group">
    <label for="gpa" class="col-sm-2 control-label">Position</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="posiotn" name="position" placeholder="Position (QB, WR, RB, TE, G, T, C, DL, DE, LB, CB, S)">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Update Player</button>
    </div>
  </div>
</form>
